# virtual environment
/Frontend/DSvenv
/.vscode
/Backend/Cargo.lock


#cache and test files
/Frontend/__pycache__
/Frontend/blueprints/recipes/__pycache__
/Backend/CACHEDIR.TAG


#build files
/Backend/target